.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.login-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 90%;
    height: 85vh;
    background-image: url("../../../assets/images/catalyzer.jpeg");
    border-radius: 5px;
    box-sizing: border-box;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.login-main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.login-main-left-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.6);
}

.text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.text-container h1 {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.text-container h2 {
    text-align: left;
    color: #dfa126;
    font-weight: 700;
    line-height: 1;
}

.text-container h4 {
    text-align: left;
    color: #fff;
}

.login-main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background:#fff;
}

.login-main-right img {
    width: 200px;
    height: 250px;
}

.login-main-right h1 {
    color: #dfa126;
    font-weight: 300;
    font-size: 20px;
}

.login-main-right button {
    border: none;
    outline: none;
    color: #fff;
    background: #37561b;
    width: 80%;
    border-radius: 5px;
    height: 40px;
}

.login-main-right button:hover {
    cursor: pointer;
}

.login-form {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 80%;
}

.login-form h5 {
 color: rgba(0, 0, 0, 0.6);
 font-weight: 600;
}

.login-form input {
    outline: none;
    border: none;
    background: #f7f7f7;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.login-form select {
    outline: none;
    border: none;
    background: #f7f7f7;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.login-form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.login-form-row input {
   background: none;
   margin-bottom: 0;
   padding-left: 0;
}

.login-form input::content{
    background: #37561b;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #37561b;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.error-message h4 {
    color: #37561b;
    margin: 0;
}

@media screen and (max-width: 768px) {
	.login-main {
		display: grid;
	}
    .login-main-left{
        width: 100%;
    }
    .login-main-right{
        width: 100%;
    }
}