.canvas-main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.canvas-right-column-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.canvas-main h3 {
	font-weight: bold;
}

.canvas-list-list {
	width: 100%;
	display: flex;
	/* align-items: flex-start; */
	justify-content: flex-start;
	min-height: 500px;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	flex-direction: column;
}

.canvas-list {
	width: 100%;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	min-height: 200px;
	height: 100%;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	flex-direction: column;
	overflow-y: scroll;
	background-color: #fff;
}

.canvas-list button {
	margin-top: 1rem;
	border: none;
	outline: none;
	height: 40px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}

.canvas-list-list3 {
	width: 100% !important;
	min-height: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	border: 1px solid rgba(0, 0, 0, 0.2);
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 1rem;
	overflow-y: scroll;
}

.canvas-list-list3 button {
	margin-top: 1rem;
	border: none;
	outline: none;
	height: 40px;
	border-radius: 10px;
	margin-bottom: 1rem;
	background: rgba(0, 0, 0, 0.2);
}

.canvas-separator {
	width: 100%;
	height: 3px;
	background: rgba(0, 0, 0, 0.1);
}


.canvas-add-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin-top: 1rem;
}

.canvas-add-card input {
	outline: none;
	width: 60%;
	border: none;
	height: 60px;
	padding-left: 5px;
	background: #fff;
	border-radius: 10px;
}

.canvas-add-card button {
	outline: none;
	border-radius: 10px;
	border: none;
	height: 40px;
}

.canvas-list button:hover {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
}

.canvas-header {
	width: 90%;
	display: flex;
	align-items: flex-start;
}

.canvas-header h3 {
	font-size: 15px;
}

.canvas-main-row {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.canvas-row {
	width: 100%;
	padding: 0.4rem !important;
	border-radius: 5px;
	padding: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #69191b; 
	margin-bottom: 0.5rem;
}

.canvas-row h6 {
	font-size: 18px;
	margin: 0;
	font-weight: bold;
}

.canvas-row h5 {
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}

.canvas1-row {
	width: 100%;
	padding: 0.4rem !important;
	border-radius: 5px;
	padding: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.canvas1-row h6 {
	font-size: 18px;
	margin: 0;
	font-weight: bold;
}

.canvas1-row h5 {
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}

.canvas-card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.canvas-list-card {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.canvas-list-card .canvas-list-card-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 98%;
}

.edit-icon {
	color: #dfa126;
}

.edit-icon:hover {
	cursor: pointer;
}

.icon-row {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.icon-row:hover {
	opacity: 2;
}

.canvas-list-card-row button {
	height: 23px;
	font-size: 12px;
	background: #fff;
	border: 1px solid #dfa126;
	color: #dfa126;
	align-content: center;
	display: flex;
	outline: none;
	border-radius: 5px;
}

.canvas-list-card-row button:hover {
	background: #fff;
	cursor: pointer;
	color: #dfa126;
}

.canvas-list-card p {
	font-size: 12px;
}

.boards-row button {
	outline: none;
	background: none;
	border: 1px solid #5c420d;
	height: 30px;
	margin-right: 1rem;
	border-radius: 30px;
	color: rgba(0, 0, 0, 0.6) !important;
}

.boards-row button:focus {
	color: #fff !important;
}

.boards-inner-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}

@media screen and (max-width: 768px) {
	.canvas-right-column-content {
		overflow-x: scroll;
	}
	.canvas1-row h6 {
		font-size: 12px;
	}
	.canvas1-row h5 {
		font-size: 12px;
	}

}


