.diagnostics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow-y: scroll;
}

/* new styles */
.diagnostic-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.card-content-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content-row h2 {
  margin: 0;
}

.card-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.steps {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
}

.save-steps {
  outline: none;
  border: none;
  margin-bottom: 1rem;
  color: #fff;
  background: #37561b;
  height: 35px;
  border-radius: 5px;
}

.loader {
  position: absolute;
  align-self: center;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 90px;
}

.save-steps:hover {
  cursor: pointer;
}

.steps-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
