.metrics-container {
	display: flex;
	align-items: center;
    justify-content: space-between;
    flex-direction: column;
	width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.metrics-container button {
    outline: none;
    border: none;
    background: #37561b;
    color: #fff;
    padding: 8px;
    width: 15%;
}

.metrics-container button:hover {
    cursor: pointer;
    background: #36561be5;
}

.metrics-container p {
    margin: 0;
    color: #dfa126;
    padding: 5px;
}

.metrics-container p:hover {
    color: #dfa126b8;
    cursor: pointer;
}

.graph-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.revenue-card-row {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 100%;
	height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.revenue-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    min-height: 130px;
    padding: 10px;
	margin: 0.5rem;
    background: #fff;
    box-sizing: border-box;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.hidden {
	visibility: hidden;
    /* display: none; */
}

.none {
    display: none;
}

.revenue-card-content-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.revenue-card-content-row-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background: #36561b56;
}

.revenue-card-content-column {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.revenue-card-content-column h3 {
    margin: 0;
    font-weight: 200;
    font-size: 18px;
}

.revenue-card-content-column h4 {
    margin: 0;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    background: #37561b;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.revenue-card-content-column h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}

.revenue-card-content-column h2 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    /* color: #dfa126; */
}

.notification {
    color: #dfa126;
    font-weight: 400;
}

.notification:hover {
    cursor: pointer;
    color: #ebcc8d;
}

.span-link {
    color: #dfa126;
    font-weight: 400;
}

.span-link:hover {
    cursor: pointer;
    color: #ebcc8d;
}

.revenue {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}

.revenue h3 {
	font-weight: 500;
    margin: 0;
}

/* report revenue css */

.report-modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	background: #fff;
}

.report-modal-container button {
	outline: none;
	border: none;
	border: 1px solid #37561b;
	color: #37561b;
	padding: 5px;
	border-radius: 5px;
	width: 100px;
}

.report-modal-container button:hover {
	cursor: pointer;
}

.report-container-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 5px;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.report-icon:hover {
	cursor: pointer;
}

.report-container-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 10px;
}

.report-container-content p {
	margin: 0;
}

.report-container-content input {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 70%;
	height: 40px;
	margin-bottom: 0.5rem;
}

.report-container-content textarea {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 70%;
	height: 100px;
	margin-bottom: 0.5rem;
}

.report-container-content select {
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	height: 40px;
	width: 70%;
	margin: 0;
}

.label {
	display: flex;
	align-items: flex-start;
	justify-items: center;
	width: 70%;
	margin-top: 0.5rem;
	flex-direction: column;
}

.label h1 {
	margin: 0;
}

.label h4 {
	color: rgba(0, 0, 0, 0.8);
}

.label p {
	color: rgba(0, 0, 0, 0.7);
}

.label h5 {
	color: rgba(0, 0, 0, 0.5);
}



.report-revenue-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
	.graph-row {
		flex-direction: column;
	}
}
