.content-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	/* background: #eee; */
	height: 100vh;
}

.content-menu {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	width: 85%;
	height: 100vh;
	padding: 0.5rem;
	left: 17%;
	overflow-y: scroll;
}

.scroll-column {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
}

.scroll-column h2 {
	font-weight: bold;
}

.scroll-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}

.scroll-container {
	width: 95%;
	display: flex;
	overflow-x: auto;
}

.scroll-container a {
	color: #dfa126;
}

.scroll-container .scroll-content {
	min-width: 300px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 5px;
	background-color: #fff;
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	margin-right: 0.5rem;
}

.scroll-content img {
	width: 100%;
	height: 200px;
}

.scroll-content span {
	background: #9acab49c;
	border-radius: 5px;
	padding: 3px;
	margin-top: 1.5rem;
}

.scroll-content span p {
	margin: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 10px;
}

.scroll-content-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 95%;
}

.scroll-content-header h2 {
	font-weight: 300;
	margin: 0;
}

.content-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}

.content-row-separator {
	height: 15px;
	width: 1px;
	background: rgba(0, 0, 0, 0.1);
}

.content-row p {
	margin: 0;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.4);
}

.scroll-desc {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
}

.scroll-row .scroll-icons:hover {
	cursor: pointer;
}
