.tab-container {
	width: 100%;
	display: flex;
	align-items: center;
	background: #eee;
	height: 100vh;
	overflow-y: scroll;
}

.tab-main {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 85%;
	left: 15%;
	height: 100vh;
}

.loans-main {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.flatrate-menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 85%;
	padding: 0.5rem;
	left: 15%;
	margin-top: 3rem;
}

.flatrate-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}

.loans-container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 85%;
	left: 15%;
	height: 100vh;
}

.loan-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.loan-header h4 {
	color: #dfa126;
}

.loan-header h4:hover {
	cursor: pointer;
}

.loan-header button:hover {
	cursor: pointer;
}

.loans-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	background: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.loans-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 95%;
	padding: 0.5rem;
}

.row-child {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

.loan-header-hidden {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.loan-header-hidden h4 {
	color: #dfa126;
}

.loan-header-hidden h4:hover {
	cursor: pointer;
}

.loan-form-hidden {
	display: none;
}

.loan-form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 95%;
}

.loan-form input {
	border: none;
	outline: none;
	width: 95%;
	height: 40px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.loan-form select {
	border: none;
	outline: none;
	width: 85%;
	height: 40px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.loan-form textarea {
	border: none;
	outline: none;
	width: 85%;
	height: 100px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.loan-form p {
	color: red;
}

.loans-form h2 {
	color: rgba(0, 0, 0, 0.7);
}

.loan-form button {
	border: none;
	outline: none;
	background: #dfa126;
	color: #fff;
	margin-bottom: 0.5rem;
	height: 30px;
	border-radius: 2px;
	transition: 0.5s ease-in-out;
}

.loan-form button:hover {
	cursor: pointer;
}

.loan-form button:focus {
	background: #cf8e0a;
}

.amount-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.amount-row input {
	border: none;
	outline: none;
	width: 60%;
	height: 40px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.amount-row h4 {
	font-weight: 500;
	font-size: 15px;
	margin-left: 0.5rem;
}

.loan-overview {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 95%;
}

.loan-separator {
	width: 100%;
	height: 1px;
	margin-bottom: 1rem;
	background: rgba(0, 0, 0, 0.1);
}

.loans-separator {
	width: 90%;
	height: 1px;
	margin-bottom: 1rem;
	background: rgba(0, 0, 0, 0.1);
}

.loader-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.receipt {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	flex-direction: column;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.receipt h3 {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}

.receipt-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.receipt-row h3 {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 400;
}

.receipt-row h4 {
	margin-left: 0.3rem;
	font-size: 20px;
	font-weight: bold;
}

.row-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	flex-direction: column;
	background: #fff;
}

.row-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 5px;
	height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.row-main {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 95%;
	padding: 0.5rem;
}

.row-left {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

.inner-row-left-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.inner-row-left-title h2 {
	font-weight: 400;
}

.inner-row-left-title h4 {
	font-weight: 400;
}

.inner-row-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.inner-row-left h3 {
	font-weight: 400;
}

.inner-row-left h4 {
	font-weight: bold;
}

.row-right {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}

.row-right select {
	border: none;
	outline: none;
	width: 85%;
	height: 40px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.row-right textarea {
	border: none;
	outline: none;
	width: 85%;
	height: 100px;
	background: #eee;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.row-right button {
	border: none;
	outline: none;
	color: #fff;
	background: #dfa126;
	height: 30px;
	border-radius: 2px;
	margin-bottom: 0.5rem;
	transition: 0.5s ease-in-out;
}

.row-right button:hover {
	cursor: pointer;
}

.row-right button:focus {
	background: #cf8e0a;
}

.payments-button {
	outline: none;
	border: 0.5px solid #dfa126;
	color: #dfa126;
	background: none;
	transition: 0.5s ease-in-out;
}

.payments-button:hover {
	cursor: pointer;
}

.payments-button:focus {
	background: #dfa126;
	color: #fff;
	border: none;
}

.approve-column {
	display: flex;
	align-items: center;
	justify-content: center;
}

.approve-column button {
	outline: none;
	border: none;
	background: none;
	color: rgb(0, 136, 255);
	margin-left: 0.5rem;
}

.approve-column div:hover {
	cursor: pointer;
}

.approve-column h4 {
	margin: 0;
	color: rgba(0, 0, 0, 0.5);
}

.approve-column p {
	margin: 0;
	margin-left: 0.5rem;
}

.approve-modal {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #eee;
	flex-direction: column;
	width: 30%;
}

.approve-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #dfa126;
	margin-bottom: 1rem;
	width: 100%;
	height: 70px;
}

.approve-header h2 {
	color: #fff;
}

.approved-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(51, 185, 38);
	margin-bottom: 1rem;
	width: 100%;
	height: 70px;
}

.approved-header h2 {
	color: #fff;
}

.approve-main {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 10px;
	background: #fff;
	width: 90%;
	margin-bottom: 1rem;
}

.approve-modal-receipt {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem;
}

.approve-modal h3 {
	color: #dfa126;
}

.approve-icon:hover {
	cursor: pointer;
}

.pay-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pay-modal input {
	width: 140px;
	height: 30px;
	outline: none;
	border: none;
	background: #eee;
	padding-left: 5px;
}

.pay-modal button {
	outline: none;
	background: none;
	color: #dfa126;
	border: 1px solid #dfa126;
	margin-left: 0.5rem;
}

.pay-modal button:hover {
	cursor: pointer;
}
