.loans-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.loans-header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin-top: 2rem;
}

.search  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

.search input {
    outline: none;
    background: none;
    border: none;
    width: 90%;
    height: 40px;
}