.revenue-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.revenue-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}

.rev-modal-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 70%;
	height: 80vh;
	background: #fff;
}

.rev-modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
}

.rev-modal-header h2 {
	color: #dfa126;
}

.rev-modal-icon:hover {
	cursor: pointer;
}

.rev-modal-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	overflow-y: scroll;
	margin-top: 1rem;
}

.revenue-table-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	background: #fff;
	margin-top: 1rem;
}

.revenue-table-header h2 {
	margin: 0;
	color: #dfa126;
}

.revenue-table-header select {
	outline: none;
	background: none;
	width: 70%;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-left: 0.5rem;
	padding-left: 5px;
}

.revenue-table-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}

.revenue-table-row button {
	outline: none;
	background: none;
	border: none;
	color: #dfa126;
}

.approve-column {
	display: flex;
	align-items: center;
	justify-content: center;
}

.approve-column button {
	outline: none;
	border: none;
	background: none;
	color: rgb(0, 136, 255);
	margin-left: 0.5rem;
}

.approve-column div:hover {
	cursor: pointer;
}

.approve-column h4 {
	margin: 0;
	color: rgba(0, 0, 0, 0.5);
}

.approve-column p {
	margin: 0;
	margin-left: 0.5rem;
}

.approve-modal {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #eee;
	flex-direction: column;
	width: 30%;
}

.approve-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #dfa126;
	margin-bottom: 1rem;
	width: 100%;
	height: 70px;
}

.approve-header h2 {
	color: #fff;
}

.approved-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(51, 185, 38);
	margin-bottom: 1rem;
	width: 100%;
	height: 70px;
}

.approved-header h2 {
	color: #fff;
}

.approve-main {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 10px;
	background: #fff;
	width: 90%;
	margin-bottom: 1rem;
}

.approve-modal-receipt {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem;
}

.approve-modal h3 {
	color: #dfa126;
}

.approve-icon:hover {
	cursor: pointer;
}